<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test_sel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup"
        tools:ignore="LockedOrientationActivity">
        <activity android:name=".HomePageActivity" android:screenOrientation="portrait" />
        <activity android:name=".AllMyCoursesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".SearchMentoringActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PostActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MessageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PostUsersActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AddMentoringActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- android:theme="@style/Theme.AppCompat.NoActionBar"> -->
        </activity>
        <activity android:name=".UserSignUpActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>